html,
body
{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #555;
    background: #012640;
}

h1,
h2
{
    color: #238acb;
}

.hills
{
	line-height: 0;
	z-index: 50;
	max-width: 2458px;
	/*height:100%*/
}
.grass{
	line-height: 0;
	z-index: 70;
	width: 2834px;
}

.paintgrass{
	line-height: 0;
	z-index: 90;
	width: 2834px;
}


.horizon
{
    line-height: 0;
    z-index: 100;
    width: 9500px;
}

.slide{
	line-height: 0;
    z-index: 101;
    width: 447px;
    height: auto;
    position: absolute;
    top:100px;
    left: 800px;
  
	
}

.middle
{
    z-index: 250;
    line-height: 0;
    width: 4500px;
}

.front
{
    z-index: 120;
    top: 150px;
    width: 9500px;
}

.intro
{
    position: absolute;
    left: 883px;
    top: -37px;
    padding-right: 50px;
/*    background: url('../images/scroll.png') no-repeat right 5px;*/
}

.textcontainer
{
  z-index: 220;
    top: 10px;
    width: 9500px;
	
}
.page
{
    top: 0px;
    width: 500px;
    padding: 10px 30px;
    position: absolute;
    font-weight: 900;
    color: white;
}

/*.panel1
{
    left: 1500px;
}

.panel2
{
    left: 2575px;
}

.panel3
{
    left: 3800px;
}

.panel4
{
    left: 5100px;
}*/
#aboutus{
	left:1880px;
	
}
#services{
	left: 3500px;
	}
#clients{
	
left: 5000px;	
}


#testimonials{
	left: 6800px;
	
}
#contactus{
	left:8000px;
	
}
